/* General styling */
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.6;
  color: #333;
  padding-top: 70px;
  background: linear-gradient(to bottom, #f8f9fa, #e3eaf2);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}
h1 {
    color: #1b5a74;
    text-shadow: black 1px 1px 2px;
}


/* Section Titles */
.section-title {
  border-left: 5px solid #1b5a74;
  color: #1b5a74;
  padding-left: 10px;
  margin-bottom: 15px;
  font-weight: 600;
}

/* Project Image */
.project-image {
  max-width: 70%;
  border: 3px solid #e0e0e0;
}

/* Cards */
.card {
  border-radius: 12px;
  transition: transform 0.3s ease-in-out;
}

.card:hover {
  transform: translateY(-5px);
}

/* Footer */
footer {
  font-size: 14px;
}

/* Carousel */
.carousel-wrapper {
  max-width: 500px;
  margin: auto;
  border: 2px solid #e0e0e0;
  background-color: #fff;
}

.carousel-inner img {
  max-height: 300px;
  object-fit: cover;
  border-radius: 8px;
}