body{
  /* background: linear-gradient(135deg,#050011, #1d116b, #532185, #1d116b,  #050011); */
  background-image: url("https://www.freepik.com/free-vector/network-mesh-wire-digital-technology-background_10136775.htm#fromView=keyword&page=1&position=2&uuid=b6a7d1a9-491a-4606-955d-60fcd0be18e2&query=Website+background");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}
.section-title{
  text-shadow: rgb(0, 0, 1) 1px 1px 2px;
  color: #6f2386;
}
 .section-title a{
  text-shadow: black 1px 1px 2px;
  color: #000203;
}

.project-card { 
  background: white;
  border-radius: 12px;
  box-shadow: 2px 5px 5px rgba(28, 1, 1, 0.662);
  transition: transform 0.3s ease;
  height: 220px; /* fixed height to make all equal */
  display: flex;
  border-color: #ddd;
}

.project-card:hover {
  transform: translateY(-5px);
}

.project-card .card-title {
  font-size: 1.2rem;
  font-weight: 600;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-shadow: 1px 1px 2px rgba(0, 20, 10, 0.45);
  color: #0b1c2c;
  margin-bottom: 0.9rem;
}

.project-card .card-text {
  font-size: 1rem;
  color: #333;
  font-family: 'Times New Roman', Times, serif;
  margin-bottom: 0.9rem;
  flex-grow: 1;
}

.project-card .card-caption {
  font-size: 0.8rem;
  color: #666;

}

.project-card img.project-img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  border-right: 0.5px solid #ddd;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
}

/* Button styling */
.project-card .btn {
  font-size: 0.8rem;
  padding: 4px 10px;
  border-radius: 6px;
  background: linear-gradient(135deg, rgb(56, 56, 228), rgb(169, 29, 174));
  border-color: white;
}

/* Ensure max 2 cards per row */
@media (min-width: 768px) {
  .col-md-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
}
